{% extends 'global/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate 'Moltres Pokémon Search' %}{% endblock title %} 
{% block content %}

    {% include 'global/partials/messages.html' %}
    <div class="main-content main-content-list container">
        <div class="text-wrapper">
            <div class="warning">
            <h2><i class="fas fa-exclamation-triangle"></i> {% translate "This website will be discontinued, please access the new version:" %}
            <a href="https://pxgpuzzles.vercel.app">https://pxgpuzzles.vercel.app</a></h2></div>
            <h2>{% translate 'Moltres - Pokémon Search' %}</h2>
            {% include 'moltres/partials/charforms.html' %}
        </div>
    </div>
{% endblock content %}