{% load i18n %}
{% load static %}
<header class="main-header-container">
    <div class="main-header container">
        <div class="logo-container">
            <h1>
                <a class="main-logo" href="{% url 'moltres:home' %}">
                    <span class="main-logo-text">PokeXGames Puzzles</span>
                </a>
            </h1>
        </div>
        <div class="header-link">
            {% if curr_path and curr_path == '/lugia/flute/' %}
                <h1>
                    <a class="header-link" href="{% url 'lugia:tutorial' %}">
                        <span class="main-logo-text"><button>Tutorial</button></span>
                    </a>
                </h1>
            {% elif curr_path and curr_path == '/' %}
                <h1>
                    <a class="header-link" href="{% url 'moltres:about' %}">
                        <span class="main-logo-text"><button>{% translate 'About' %}</button></span>
                    </a>
                </h1>
            {% endif %}
        </div>
    </div>
</header>