{% extends 'global/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate 'Home' %}{% endblock title %} 
{% block content %}
    {% include 'global/partials/messages.html' %}
    <div class="main-content main-content-list container">
        <div class="text-wrapper">
            <div class="warning">
            <h2><i class="fas fa-exclamation-triangle"></i> {% translate "This website will be discontinued, please access the new version:" %} 
             <a href="https://pxgpuzzles.vercel.app">https://pxgpuzzles.vercel.app</a></h2></div>
            <h2>Pokémon League Puzzles</h2>
            <a href="https://github.com/xbandrade/sokoban-solver-generator">Sokobox <i class="fab fa-github fa-lg"></i></a>
            <h2>The Chosen One Puzzles</h2>
            <a href="{% url 'moltres:search' %}">Moltres</a>
            <a href="{% url 'lugia:flute' %}">{% translate 'Lugia Flute' %}</a>
        </div>
    </div>
    
    {% include 'global/partials/footer.html' %}
{% endblock content %}